name: README with Todoist
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-readme:
    name: Update todoist stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: SiddharthShyniben/todoist-readme@v1.3.0
        with:
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
